<html>
  <head>
    <title>Contact</title>
  </head>
  <body>
    <div>
      <form action="/thanks" method="POST">
        <label for="Name">Name:</label>
        <input id='Name' class="Name" name="Name" type="text">

       <!--  <label for="lastName">Last Name:</label>
        <input id="lastName" name="lastName" type="text"> -->

        <label for="Email">Email:</label>
        <input id="Email" name="Email" type="text">

        <input type="submit" />
      </form>
    </div>
  </body>
</html>