<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title> Erik's Portfolio </title>

  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css' />
  <link href="https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Homemade+Apple|Reenie+Beanie|Telex" rel="stylesheet">
  <link rel='stylesheet' type="text/css" href='style.css'>
  <script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
  <script defer type="text/javascript" src="script.js"></script>

</head>

<body>

  <div class='bg1'>
    <div class='name'> Erik Allison
      <div class='typewriter'>
        <br>
        <br>
        <br>
        <h1>Web Developer</h1>
      </div>
    </div>
  </div>
  <div id='navbar'>
    <a href='#about'>About</a>
    <a href='#skills'>Skills</a>
    <a href='#projects'>Projects</a>
    <a href='#contact'>Contact</a>
  </div>
  <div class='bg2' id='about'>
    <div class='ptext'>
      <span class='border'>
        About Me
      </span>
    </div>
  </div>

  <div class='info2'>
    <br>
    <div class='mypic'>
      <img src='http://static.playbill.com/dims4/default/99288c3/2147483647/resize/250x/quality/90/?url=http%3A%2F%2Fstatic.playbill.com%2F85%2F61%2F0933833c4798bd4f152938afc86f%2FJohn-C-Reilly.1284149206.jpg'
        height='380px'>
    </div>
    <center>
      <br>
      <br>
      <br>
      <div class='borderquote'>
        <div class='quote'> 'Hello miss lady' </div>
      </div>
      <br>
      <br>
      <br>
    </center>
  </div>

  <div class='bio'>
    <p>Hey there, my name is dragon. I enjoy long walks on the beach, the finest of pinot noirs, unicorns and the fresh smell
      of napalm in the morning.</p>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class='bg3' id='skills'>
    <div class='ptext'>
      <span class='border'>
        Skills
      </span>
    </div>
  </div>
  <br>
  <section class='info 3'>
    <div class='skillsList'>
      <br>
      <br>
      <div class='skills2'>Javascript</div>
      <div class='skills2'>HTML</div>
      <div class='skills2'>CSS</div>
      <div class='skills2'>Node.JS</div>
      <div class='skills2'>React</div>
      <div class='skills2'>Redux</div>
      <div class='skills2'>MongoDB</div>
      <div class='skills2'>Gulp</div>
      <div class='skills2'>Git</div>
      <div class='skills2'>Express</div>
      <div class='skills2'>SQL</div>
      <div class='skills2'>Rdis</div>
      <div class='skills2'>Mocha</div>
      <div class='skills2'>Chai</div>
      <div class='skills2'>CircleCI</div>
      <div class='skills2'>Webpack</div>
    </div>
  </section>
  <br>
  <br>
  <br>

  <div class='bg4' id='projects'>
    <div class='ptext'>
      <span class='border'>Projects</span>
    </div>
  </div>

  <section class='info4'>

    <div class='projects'>
      <p>Click on the projects to view.</p>

      <div class='pic1border'>
        <div class='pic1'>
          <a href=''></a>
          <img src='https://www.projectsmart.co.uk/img/project.png' height: '300px' width='350px'>
        </div>
      </div>
      <div class='description'>Astro Weight Calculator</div>
      <br>

      <div class='pic2border'>
        <div class='pic2'>
          <a href=''></a>
          <img src='https://www.projectsmart.co.uk/img/project.png' height: '300px' width='350px'>
        </div>
      </div>
      <div class='description'>Change Calculator</div>
      <br>

      <div class='pic3border'>
        <div class='pic3'>
          <a href=''></a>
          <img src='https://www.projectsmart.co.uk/img/project.png' height: '300px' width='350px'>
        </div>
      </div>
      <div class='description'>Mortgage Calculator</div>
      <br>

      <div class='pic4border'>
        <div class='pic4'>
          <a href=''></a>
          <img src='https://www.projectsmart.co.uk/img/project.png' height: '300px' width='350px'>
        </div>
      </div>
      <div class='description'>San Diego Top Spots</div>
      <br>

      <div class='pic5border'>
          <div class='pic5'>
            <a href=''></a>
            <img src='https://www.projectsmart.co.uk/img/project.png' height: '300px' width='350px'>
          </div>
        </div>
        <div class='description'>VSTDA</div>
        <br>

        <div class='pic5border'>
            <div class='pic5'>
              <a href=''></a>
              <img src='https://www.projectsmart.co.uk/img/project.png' height: '300px' width='350px'>
            </div>
          </div>
          <div class='description'>Hackathon</div>
          <br>
  

  </section>

  <div class='bg5' id='contact'>
    <div class='ptext'>
      <span class='border'>Contact</span>
    </div>
  </div>

  <section class='info5'>
    <p>Stay in touch</p>
    <br>
    <div class='container2'>
      <form action="/thanks" method="post">

        <label for="fname">Name</label>
        <br>
        <input type="text" id="name" name="name" placeholder="Name">
        <br>

        <label for="lname">E-mail Address</label>
        <br>
        <input type="text" id="email" name="email" placeholder="E-mail Address">
        <br>


        <label for="lname">Company</label>
        <br>
        <input type="text" id="company" name="company" placeholder="Company">
        <br>

        <label for="subject">Subject</label>
        <br>
        <textarea id="subject" name="subject" placeholder="Write something.."></textarea>
        <br>

        <input type="submit" value="Submit">

      </form>
    </div>
    <br>

  </section>

  <section class="info6">

    <div class="links">
      <div class="copyrights">
        <p>@2018 Erik Allison</p>
      </div>

      <div class="github">
        <a href="https://github.com/erikallison23" target="_blank">
          <img src="https://image.flaticon.com/icons/png/512/25/25231.png" height="40px">
        </a>
      </div>

      <div class="linkedin">
        <a href="https://www.linkedin.com/in/erik-allison-237aa7143/" target="_blank">
          <img src="https://content.linkedin.com/content/dam/engineering/en-us/blog/migrated/linkedin.png" height="40px">
        </a>
      </div>

      <div class="email">
        <a href="mailto:erikallison23@gmail.com" target="_blank">
          <img src="http://cdn.mysitemyway.com/icons-watermarks/flat-circle-white-on-black/raphael/raphael_mail/raphael_mail_flat-circle-white-on-black_512x512.png"
            height="40px">
        </a>

      </div>
    </div>
  </section>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>
</body>

</html>