<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title> Erik's Portfolio </title>

  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css' />
  <link href="https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Homemade+Apple|Reenie+Beanie|Telex" rel="stylesheet">
  <link rel='stylesheet' type="text/css" href='style.css'>
  <script defer type="text/javascript" src="script.js"></script>
  <link rel="shortcut icon" type="image/x-icon" href="../assets/Photos/favicon.ico" />
</head>

<body>

  <div id='navbar'>
    <a href='#about'>Home</a>
    <a href='#projects'>Projects</a>
  </div>

  <div class='bg1' id='about'>
    <!-- <div class='container'>
      <div class='row nameTitle'>
      <div class='col-md-6 nameTitleInside'>
        <h1>Erik</h1></div>
      <div class='col-md-6 nameTitleInside'><h1>Allison</h1></div>
    </div>
  </div> -->
  </div>

  <div class='container'>
    <div class='row'>
      <div class='col-md-5'>
        <div class='mypic'>
          <img src="../assets/Photos/e2.jpg" height='300px' class='mypic' />
          <!-- <img src="../assets/Photos/me.jpg" height='300px' class='epicShot' /> -->
        </div>
      </div>

      <div class='col-md-7'>
        <div class='bio'>
          Hi, my name is Erik Allison.
         <br><br>
          I'm a San Diego based Web Designer and Developer with a passion for clean, user friendly websites and apps.
          <br>
          <br> I'm a creative, deep thinking, team player that enjoys working on innovative projects.
          <br>
          <br> My other passions include surfing, snowboarding, golf and music.
          <br>
          <br>

        </div>
      </div>
    </div>
  </div>

  <hr>
  <section class='info 3'>
    <div class='projects'>
      Toolbox
    </div>

    <div class='skillsList'>
      <div class='skills2'>
        <img src="../assets/skills/HTML.png" height="80px" />
      </div>
      <div class='skills2'>
        <img src="../assets/skills/CSS.png" height="80px" />
      </div>
      <div class='skills2'>
          <img src="../assets/skills/JS.png" height="80px" />
        </div>
      <div class='skills2'>
        <img src="../assets/skills/Bootstrap.png" height="80px" />
      </div>
      <div class='skills2'>
        <img src="../assets/skills/react.png" height="80px" />
      </div>
      <div class='skills2'>
        <img src="../assets/skills/wordpress.png" height="80px" />
      </div>
      <div class='skills2'>
        <img src="../assets/skills/Illustrator.png" height="80px" />
      </div>
      <div class='skills2'>
        <img src="../assets/skills/Photoshop.png" height="80px" />
      </div>
      <!-- <div class='skills2'>
        <img src="../assets/skills/LoopBack.png" height="80px" />
      </div>
      <div class='skills2'>
        <img src="../assets/skills/Affinity.png" height="80px" />
      </div> -->
    </div>
  </section>

  <hr>
  <!-- <section class='info4' id='projects'> -->
   
    <div class='container-fluid' id='projects'>

      <div class='row'>
        <div class='col-12'>
        <div class='projects' >
          Projects
        </div>
      </div>
      </div>

      <div class='row'>

        <div class='col-md-6'>
          <div class='containerInside'>
          <img src='../assets/Photos/FicusMini.png' class='image' />
          <a href='https://itunes.apple.com/us/app/ficus-mini/id1380861174?mt=8'>
            <div class='overlay'>
            </div>
          </a>
          </div>
        </div>


        <div class='col-md-6 mt-5'>
        
              <div class='text'>
                <a href='https://itunes.apple.com/us/app/ficus-mini/id1380861174?mt=8'>
                  <strong>Ficus Mini</strong>
                </a>
                <br> This is an stock trading app that I worked on with a group of 4, which got in the ios App store in 6 weeks.
                <br> Check it out in the app store! Just search Ficus Mini.
                <br>
                <br> React Native, ReactStrap, MongoDB, Loopback and Redis.
              </div>
          
        </div>

      </div>

      <div class='row'>

        <div class='col-md-6'>
          <div class='containerInside'>
            <img src='../assets/Photos/DavesDepot1.png' height='300px' width='300px' class='image' />
            <a href='https://davesdepot.herokuapp.com/'>
              <div class='overlay'>
              </div>
            </a>
          </div>
        </div>

        <div class='col-md-6'>
          <div class="text">
            <a href='https://davesdepot.herokuapp.com/'>
              <strong>Daves Depot</strong>
            </a>
            <br> This was a one week group project designed to emulate an ecommerce store.
            <br>
            <br> React Redux, CSS, Bootstrap, MongoDB and Loopback.
          </div>
        </div>

      </div>

      <div class='row'>

        <div class='col-md-6'>
          <div class='containerInside'>
            <img src='../assets/Photos/MovieFinder1.png' height='300px' width='300px' class='image' />
            <a href='https://ea-moviefinder.herokuapp.com/#/'>
              <div class='overlay'>
              </div>
            </a>
          </div>
        </div>

        <div class='col-md-6'>
          <div class="text">
            <a href='https://ea-moviefinder.herokuapp.com/#/'>
              <strong>Movie Finder</strong>
            </a>
            <br> This app lets you search for movies through the OMDB data base.
            <br>
            <br> React Redux, CSS, Bootstrap, Express and NodeJS.
          </div>
        </div>

      </div>

      <div class='row'>

        <div class='col-md-6'>
          <div class='containerInside'>
            <img src='../assets/Photos/Hackathon.png' height='300px' width='300px' class='image' />
            <a href='https://ea-hackathon.herokuapp.com/'>
              <div class='overlay'>
              </div>
            </a>
          </div>
        </div>

        <div class='col-md-6'>
          <div class="text">
            <a href='https://ea-hackathon.herokuapp.com/'>
              <strong>Crans Montana Snow Report</strong>
            </a>
            <br> Built in 3 days, this app gives you the daily snow report for the Crans Montana Resort in the Swiss Alps using
            2 API's.
            <br>
            <br> React, CSS, Bootstrap, NodeJS and Express.
          </div>
        </div>

      </div>

      <div class='row'>

        <div class='col-md-6'>
          <div class='containerInside'>
            <img src='../assets/Photos/VSTDA.png' height='300px' width='300px' class='image' />
            <a href='https://ea-vstda.herokuapp.com/'>
              <div class='overlay'>
              </div>
            </a>
          </div>
        </div>

        <div class='col-md-6'>
          <div class="text">
            <a href='https://ea-vstda.herokuapp.com/'>
              <strong>To Do List</strong>
            </a>
            <br> This is a todo app that lets you set list items by priority to help manage your errands.
            <br>
            <br> React, CSS, Bootstrap, NodeJS and Express.
          </div>
        </div>

      </div>


      <div class='row'>

        <div class='col-md-6'>
          <div class='containerInside'>
            <img src='../assets/Photos/WeatherReport.png' height='300px' width='300px' class='image' />
            <a href='https://ea-weatherapp.herokuapp.com/'>
              <div class='overlay'>
              </div>
            </a>
          </div>
        </div>

        <div class='col-md-6'>
          <div class="text">
            <a href='https://ea-weatherapp.herokuapp.com/'>
              <strong>Weather Report</strong>
            </a>
            <br> This is an app that lets you find out the weather for cities all over the world.
            <br>
            <br> React Redux, CSS, Bootstrap, NodeJS and Express.
          </div>
        </div>

      </div>

    </div>
  </section>

  <section class="info6">

    <div class="links">
      <div class="copyrights">
        <p>@2018 Erik Allison</p>
      </div>

      <div class="github">
        <a href="https://github.com/erikallison23" target="_blank">
          <img src="../assets/Photos/github.png" height="40px" />
        </a>
      </div>

      <div class="linkedin">
        <a href="https://www.linkedin.com/in/erik-allison-237aa7143/" target="_blank">
          <img src="../assets/Photos/linkedin.png" height="40px" />
        </a>
      </div>

      <div class="email">
        <a href="mailto:erikallison23@gmail.com" target="_blank">
          <img src="../assets/Photos/gmail.png" height="40px" />
        </a>
      </div>
    </div>
  <!-- </section> -->

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>


</html>