<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title> Erik's Portfolio </title>

  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css' />
  <link href="https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Homemade+Apple|Reenie+Beanie|Telex" rel="stylesheet">
  <link rel='stylesheet' type="text/css" href='style.css'>
  <script defer type="text/javascript" src="script.js"></script>
  <link rel="shortcut icon" type="image/x-icon" href="../assets/favicon.ico"/>
</head>

<body>

  <div class='bg1'>
          <div class='name'>
            <div class='nameFont'>Erik Allison</div>
            <div class='nameFont2'>Web Developer</div>
            <a href='#about'>
              <div class='nameFont3'>Check out below</div>
              <div class='nameFont3'>⇩</div>
            </a>
    </div>
  </div>

  <div id='navbar'>
    <a href='#about'>About</a>
    <a href='#skills'>Skills</a>
    <a href='#projects'>Projects</a>
    <a href='#contact'>Contact</a>
  </div>

  <div class='bg2' id='about'>
    <div class='ptext'>
      <span class='border'>
        About Me
      </span>
    </div>
  </div>

  <div class='info2'>
    <br>
    <div class='mypic'>
      <img src="../assets/e2.jpg" height='300px'>
      <img src="../assets/me.jpg" height='300px' class='epicShot'>
    </div>
  </div>

  <div class='bio'>
    <p id='bio'>Hey there,
      <br> My name is Erik Allison and I am a 28 year old web developer from San Diego, CA. Growing up in the 90's was an amazing
      time for many reasons, and the rapid growth of the internet and technology was a big part of it. I have always been
      a curious and creative person, and building things from the ground up has always excited me.
      <br>
      <br> My first interest in web development began when I figured out how to manipulate HTML on Myspace. Years later I was
      working at an Artist Management label in Los Angeles and was put in charge of updating our clients MailChimp newsletters.
      I was given the previous layouts and had to learn to reverse engineer and experiment with the HTML and CSS. This really
      was a challenge since I had very minimal experience, but it sparked my curiosity to learn more. Fast forward a few
      more years and here I am as a graduate of Origin Code Academy's full-stack Javascript program. It has been an amazing
      ride of growth and accomplishment.
      <br>
      <br> Front end design is especially a passion of mine, as I view it like painting masterpieces on the web. But most of
      all the limitless future of web development, design and technology is what really inspires me. The world is our oyster.
  </div>

  <br>
  <div class='bg3' id='skills'>
    <div class='ptext'>
      <span class='border'>
        Skills
      </span>
    </div>
  </div>
  <br>
  <section class='info 3'>
    <div class='skillsList'>
      <br>
      <br>
      <div class='skills2'><img src="../assets/skills/javascript.png" height="80px"></div>
      <div class='skills2'><img src="../assets/skills/HTML.png" height="80px"></div>
      <div class='skills2'><img src="../assets/skills/CSS.png" height="80px"></div>
      <div class='skills2'><img src="../assets/skills/Bootstrap.png" height="80px"></div>
      <div class='skills2'><img src="../assets/skills/react.png" height="80px"></div>
      <div class='skills2'><img src="../assets/skills/reactNative.png" height="80px"></div>
      <div class='skills2'><img src="../assets/skills/redux.png" height="80px"></div>
      <div class='skills2'><img src="../assets/skills/jQuery.png" height="80px"></div>
      <div class='skills2'><img src="../assets/skills/NodeJS.png" height="80px"></div>
      <div class='skills2'><img src="../assets/skills/MongoDB.png" height="80px"></div>
      <div class='skills2'><img src="../assets/skills/LoopBack.png" height="80px"></div>
      <div class='skills2'><img src="../assets/skills/Express.png" height="80px"></div>
      <div class='skills2'><img src="../assets/skills/MySQL.png" height="80px"></div>
      <div class='skills2'><img src="../assets/skills/redis.png" height="80px"></div>
      <div class='skills2'><img src="../assets/skills/git.png" height="80px"></div>
      <div class='skills2'><img src="../assets/skills/circleCI.png" height="80px"></div>
      <div class='skills2'><img src="../assets/skills/Webpack.png" height="80px"></div>
      <div class='skills2'><img src="../assets/skills/expo.png" height="80px"></div>
      <div class='skills2'><img src="../assets/skills/heroku.png" height="80px"></div>
      <div class='skills2'><img src="../assets/skills/bitbucket.png" height="80px"></div>
      <div class='skills2'><img src="../assets/skills/wordpress.png" height="80px"></div>
      <div class='skills2'><img src="../assets/skills/vscode.png" height="80px"></div>
      <div class='skills2'><img src="../assets/skills/Adobe.png" height="80px"></div>
      <div class='skills2'><img src="../assets/skills/affinityDesigner.png" height="80px"></div>
      <div class='skills2'><img src="../assets/skills/affinityPhoto.png" height="80px"></div>
      <div class='skills2'><img src="../assets/skills/mailchimp.png" height="80px"></div>

    </div>
  </section>
  <br>
  <br>
  <br>

  <div class='bg4' id='projects'>
    <div class='ptext'>
      <span class='border'>Projects</span>
    </div>
  </div>
  <br>
  <section class='info4'>

    <div class='row'>

      <div class='projects'>
        <div class='col-md-12'>
          <strong>Click to view!</strong>
        </div>
      </div>
      <hr>
    </div>

    <div class='container'>

      <div class='row'>

        <div class='col-md-12'>
          <div class='containerInside'>
            <img src='../assets/ficusapp.png'   class='ficus'>
            <img src='../assets/ficusapp2.png'  class='ficus'>
            <img src='../assets/ficusapp3.png'  class='ficus'>
          
            <div class="overlay">
              <div class="text">
                  <strong>Ficus Stock Trading App</strong>
                </a>
                <br> This is an stock trading app that I worked on with a group of 4, which got in the ios App store in 6 weeks. 
                <br> Check it out in the app store! Just search Ficus Mini.
                <br>
                <br> Technologies used: React Native, ReactStrap, MongoDB, Loopback, Redis
              </div>
            </div>
          </div>
        </div>

        <div class='col-md-12'>
          <div class='containerInside'>
            <img src='../assets/DavesDepot1.png' height='300px' width='300px' class='image'>
            <div class="overlay">
              <div class="text">
                <a href='https://davesdepot.herokuapp.com/'>
                  <strong>Daves Depot</strong>
                </a>
                <br> This was a one week group project designed to emulate an ecommerce store.
                <br>
                <br> Technolgies used: React Redux, CSS, Bootstrap, MongoDB, Loopback
              </div>
            </div>
          </div>
        </div>

        <div class='col-md-12'>
          <div class='containerInside'>
            <img src='../assets/MovieFinder1.png' height='300px' width='300px' class='image'>
            <div class="overlay">
              <div class="text">
                <a href='https://ea-moviefinder.herokuapp.com/#/'>
                  <strong>Movie Finder App</strong>
                </a>
                <br> This app lets you search for movies through the OMDB data base.
                <br>
                <br> Technologies used: React Redux, CSS, Bootstrap, Express, NodeJS. 
              
              </div>
            </div>
          </div>
        </div>

        <div class='col-md-12'>
          <div class='containerInside'>
            <img src='../assets/Hackathon.png' height='300px' width='300px' class='image'>
            <div class="overlay">
              <div class="text">
                <a href='https://ea-hackathon.herokuapp.com/'>
                  <strong>Hackathon</strong>
                </a>
                <br> Built in 3 days, this app gives you the daily snow report for the Crans Montana Resort in the
                Swiss Alps using 2 API's.
                <br>
                <br> Technologies used: React, CSS, Bootstrap, NodeJS, Express.
              </div>
            </div>
          </div>
        </div>

        <div class='col-md-12'>
            <div class='containerInside'>
              <img src='../assets/VSTDA.png' height='300px' width='300px' class='image'>
              <div class="overlay">
                <div class="text">
                  <a href='https://ea-vstda.herokuapp.com/'>
                    <strong>Very Simple Todo App</strong>
                  </a>
                  <br> This is a todo app that lets you set list items by priority to help manage your errands.
                  <br>
                  <br> Technologies used: React, CSS, Bootstrap, NodeJS, Express.
                </div>
              </div>
            </div>
          </div>

      </div>

    </div>

  </section>

  <div class='bg5' id='contact'>
    <div class='ptext'>
      <span class='border'>Contact</span>
    </div>
  </div>

  <section class='info5'>
    <p>Stay in touch</p>
    <br>
    <div class='container2'>
      <form action="/thanks" method="post">

        <label for="Name">Name</label>
        <br>
        <input type="text" id="Name" name="Name" placeholder="Name">
        <br>

        <label for="Email">E-mail</label>
        <br>
        <input type="text" id="email" name="Email" placeholder="E-mail Address">
        <br>

        <label for="Subject">Message</label>
        <br>
        <textarea id="Subject" name="Subject" placeholder="...."></textarea>
        <br>

        <input type="submit" value="Submit">

      </form>
    </div>
    <br>

  </section>

  <section class="info6">

    <div class="links">
      <div class="copyrights">
        <p>@2018 Erik Allison</p>
      </div>

      <div class="github">
        <a href="https://github.com/erikallison23" target="_blank">
          <img src="../assets/github.png" height="40px">
        </a>
      </div>

      <div class="linkedin">
        <a href="https://www.linkedin.com/in/erik-allison-237aa7143/" target="_blank">
          <img src="../assets/linkedin.png" height="40px">
        </a>
      </div>

      <div class="email">
        <a href="mailto:erikallison23@gmail.com" target="_blank">
          <img src="../assets/gmail.png" height="40px">
        </a>

      </div>
    </div>
  </section>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>
</body>

</html>