<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title> Erik's Portfolio </title>

  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css' />
  <link href="https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Homemade+Apple|Reenie+Beanie|Telex" rel="stylesheet">
  <link rel='stylesheet' type="text/css" href='style.css'>
  <script defer type="text/javascript" src="script.js"></script>
  <link rel="shortcut icon" type="image/x-icon" href="../assets/Photos/favicon.ico" />
</head>

<body>
  <div id='navbar'>
    <a href='#about'>Home</a>
    <a href='#projects'>Projects</a>
  </div>

  <div class='bg1' id='about'>
      
 
  </div>


  <div class='info2'>
    <div class='mypic'>
      <img src="../assets/Photos/e2.jpg" height='300px' class='mypic'>
      <img src="../assets/Photos/me.jpg" height='300px' class='epicShot'>
    </div>
  </div>

  <div class='bio'>
    <div id='bio'> Front-End web developer and designer with a passion for clean, user friendly websites and apps. </div>
      <div id='bio'>Curious, creative, and passionate about building things from the ground up.</div>
      <div id='bio'>Happy, positive, glass half full kind of guy.</div>
      <div id='bio'> When not coding you may catch me out surfing my home breaks in San Diego, quoting Will Ferrell movies, or playing
      music with friends.</div>
      <div id='bio'> Current framework of choice: React</div>
      <div id='bio'> Tool of passion: CSS</div>
      </div>

  <hr>
  <section class='info 3' >
    <div class='projects'>
      <div class='col-md-12' >
        <span class='border'>
         Toolbox
        </span>
      </div>
    </div>

    <div class='skillsList'>
      <br>
      <br>
      <div class='skills2'>
        <img src="../assets/skills/JS.png" height="80px">
      </div>
      <div class='skills2'>
        <img src="../assets/skills/HTML.png" height="80px">
      </div>
      <div class='skills2'>
        <img src="../assets/skills/CSS.png" height="80px">
      </div>
      <div class='skills2'>
        <img src="../assets/skills/Bootstrap.png" height="80px">
      </div>
      <div class='skills2'>
        <img src="../assets/skills/react.png" height="80px">
      </div>
      <div class='skills2'>
        <img src="../assets/skills/redux.png" height="80px">
      </div>
      <div class='skills2'>
        <img src="../assets/skills/NodeJS.png" height="80px">
      </div>
      <div class='skills2'>
        <img src="../assets/skills/MongoDB.png" height="80px">
      </div>
      <div class='skills2'>
        <img src="../assets/skills/MySQL.png" height="80px">
      </div>
  </div>
  </section>

  <hr>
  <section class='info4' id='projects'>
    <div class='row'>
      <div class='projects'>
        <div class='col-md-12'>
        Projects
        </div>
      </div>
    </div>
    <br>
    <div class='container'>

      <div class='row'>

        <div class='col-md-12'>
          <div class='containerInside'>
            <img src='../assets/Photos/ficusapp.png' class='ficus'>
            <img src='../assets/Photos/ficusapp2.png' class='ficus'>
            <img src='../assets/Photos/ficusapp3.png' class='ficus'>

            <div class="overlay">
              <div class="text">
                <strong>Ficus Stock Trading App</strong>
                </a>
                <br> This is an stock trading app that I worked on with a group of 4, which got in the ios App store in 6 weeks.
                <br> Check it out in the app store! Just search Ficus Mini.
                <br>
                <br> Technologies used: React Native, ReactStrap, MongoDB, Loopback, Redis
              </div>
            </div>
          </div>
        </div>

        <div class='col-md-12'>
          <div class='containerInside'>
            <img src='../assets/Photos/DavesDepot1.png' height='300px' width='300px' class='image'>
            <div class="overlay">
              <div class="text">
                <a href='https://davesdepot.herokuapp.com/'>
                  <strong>Daves Depot</strong>
                </a>
                <br> This was a one week group project designed to emulate an ecommerce store.
                <br>
                <br> Technolgies used: React Redux, CSS, Bootstrap, MongoDB, Loopback
              </div>
            </div>
          </div>
        </div>

        <div class='col-md-12'>
          <div class='containerInside'>
            <img src='../assets/Photos/MovieFinder1.png' height='300px' width='300px' class='image'>
            <div class="overlay">
              <div class="text">
                <a href='https://ea-moviefinder.herokuapp.com/#/'>
                  <strong>Movie Finder App</strong>
                </a>
                <br> This app lets you search for movies through the OMDB data base.
                <br>
                <br> Technologies used: React Redux, CSS, Bootstrap, Express, NodeJS.

              </div>
            </div>
          </div>
        </div>

        <div class='col-md-12'>
          <div class='containerInside'>
            <img src='../assets/Photos/Hackathon.png' height='300px' width='300px' class='image'>
            <div class="overlay">
              <div class="text">
                <a href='https://ea-hackathon.herokuapp.com/'>
                  <strong>Hackathon</strong>
                </a>
                <br> Built in 3 days, this app gives you the daily snow report for the Crans Montana Resort in the Swiss Alps
                using 2 API's.
                <br>
                <br> Technologies used: React, CSS, Bootstrap, NodeJS, Express.
              </div>
            </div>
          </div>
        </div>

        <div class='col-md-12'>
          <div class='containerInside'>
            <img src='../assets/Photos/VSTDA.png' height='300px' width='300px' class='image'>
            <div class="overlay">
              <div class="text">
                <a href='https://ea-vstda.herokuapp.com/'>
                  <strong>Very Simple Todo App</strong>
                </a>
                <br> This is a todo app that lets you set list items by priority to help manage your errands.
                <br>
                <br> Technologies used: React, CSS, Bootstrap, NodeJS, Express.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="info6">

    <div class="links">
      <div class="copyrights">
        <p>@2018 Erik Allison</p>
      </div>

      <div class="github">
        <a href="https://github.com/erikallison23" target="_blank">
          <img src="../assets/Photos/github.png" height="40px">
        </a>
      </div>

      <div class="linkedin">
        <a href="https://www.linkedin.com/in/erik-allison-237aa7143/" target="_blank">
          <img src="../assets/Photos/linkedin.png" height="40px">
        </a>
      </div>

      <div class="email">
        <a href="mailto:erikallison23@gmail.com" target="_blank">
          <img src="../assets/Photos/gmail.png" height="40px">
        </a>
      </div>
    </div>
  </section>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>
</body>

</html>