<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title> Erik's Portfolio </title>

  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css' />
  <link href="https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Homemade+Apple|Reenie+Beanie|Telex" rel="stylesheet">
  <link rel='stylesheet' type="text/css" href='style.css'>
  <script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
  <script defer type="text/javascript" src="script.js"></script>

</head>

<body>

  <div class='bg1'>
    <div class='name'> Erik Allison
      <div class='typewriter'>
        <br>
        <br>
        <br>
        <h1>Web Developer</h1>
      </div>
    </div>
  </div>
  <div id='navbar'>
    <a href='#about'>About</a>
    <a href='#skills'>Skills</a>
    <a href='#projects'>Projects</a>
    <a href='#contact'>Contact</a>
  </div>
  <div class='bg2' id='about'>
    <div class='ptext'>
      <span class='border'>
        About Me
      </span>
    </div>
  </div>

  <div class='info2'>
    <br>
    <div class='mypic'>
      <img src='https://www.dl.dropboxusercontent.com/s/4jpm2her6b08t1h/me.jpg?dl=0' height='300px'>
    </div>
  </div>

  <div class='bio'>
    <p id='bio'>Hey there,
      <br> My name is Erik Allison and I am a 28 year old web developer from San Diego, CA. Growing up in the 90's was an amazing
      time for many reasons, and the rapid growth of the internet and technology was a big part of it. I have always been
      a curious and creative person, and building things from the ground up has always excited me.<br>
      <br> My first interest in web development began when I figured out how to manipulate HTML on Myspace. Years later I was
      working at an Artist Management label in Los Angels and was put in charge of updating our clients MailChimp newsletters.
      I was given the previous layouts and had to learn to reverse engineer and experiment with the HTML and CSS. This really
      was a challenge since I had very minimal experience, but it sparked my curiosity to learn more. Fast forward a few
      more years and here I am as a graduate of Origin Code Academy's full-stack Javascript program. It has been an amazing
      ride of growth and accomplishment.<br>
      <br> Front end design is especially a passion of mine, as I view it like painting masterpieces on the web. But most of
      all the limitless future of web development, design and technology is what really inspires me. The world is our oyster.

  </div>

  <br>
  <div class='bg3' id='skills'>
    <div class='ptext'>
      <span class='border'>
        Skills
      </span>
    </div>
  </div>
  <br>
  <section class='info 3'>
    <div class='skillsList'>
      <br>
      <br>
      <div class='skills2'>Javascript</div>
      <div class='skills2'>HTML</div>
      <div class='skills2'>CSS</div>
      <div class='skills2'>Node.JS</div>
      <div class='skills2'>React</div>
      <div class='skills2'>Redux</div>
      <div class='skills2'>JSX</div>
      <div class='skills2'>EJS</div>
      <div class='skills2'>MongoDB</div>
      <div class='skills2'>Gulp</div>
      <div class='skills2'>Git</div>
      <div class='skills2'>Express</div>
      <div class='skills2'>Bootstrap</div>
      <div class='skills2'>MySQL</div>
      <div class='skills2'>Redis</div>
      <div class='skills2'>Mocha</div>
      <div class='skills2'>Chai</div>
      <div class='skills2'>CircleCI</div>
      <div class='skills2'>Webpack</div>
      <div class='skills2'>Jquery</div>
      <div class='skills2'>Morgan</div>
      <div class='skills2'>Mongoose</div>
      <div class='skills2'>Heroku</div>
    </div>
  </section>
  <br>
  <br>
  <br>

  <div class='bg4' id='projects'>
    <div class='ptext'>
      <span class='border'>Projects</span>
    </div>
  </div>
  <br>
  <section class='info4'>

    <div class='row'>

      <div class='projects'>
        <div class='col-md-12'>
          <strong>Click to view!</strong>
        </div>
      </div>
      <hr>
    </div>
    <br>
    <br>

    <div class='container'>

      <div class='row'>

        <div class='col-md-6'>
          <div class='containerInside'>
            <img src='https://www.dl.dropboxusercontent.com/s/esaeuljbg8hvqi0/Astro%20Weight%20Calc%20copy.png?dl=0' height: '300px'
              width='300px' class='image'>
            <div class="overlay">
              <div class="text">
                <a href='https://project-js-astro-weight-hhaltytnuj.now.sh/'><strong>Astro Weight Calculator</strong></a> 
                <br> Built with jquery in JS, this app calculates your weight on other planets in our solar system.
              </div>
            </div>
          </div>
        </div>

        <div class='col-md-6'>
          <div class='containerInside'>
            <img src='https://www.dl.dropboxusercontent.com/s/nd2jxeq9c5e1t3d/Change%20Calc%20copy.png?dl=0' height: '300px' width='300px'
              class='image'>
            <div class="overlay">
              <div class="text">
                  <a href='https://ea-changecalculator.herokuapp.com/'><strong>Change Calculator</strong></a> 
                <br> Built in React, this app will calculate monetary totals for you.</div>
                
            </div>
          </div>
        </div>

      </div>
      <br>


      <div class='row'>

        <div class='col-md-6'>
          <div class='containerInside'>
            <img src='https://www.dl.dropboxusercontent.com/s/sjoh8csonsztuov/Mortgage%20Calc%20copy.png?dl=0' height: '300px' width='300px'
              class='image'>
            <div class="overlay">
              <div class="text">
                  <a href='https://ea-mortgagecalculator.herokuapp.com/'><strong>Mortgage Calculator</strong></a> 
                <br> Built in React, this app will calculate your monthly mortgage over 15 or 30 year periods.</div>
            </div>
          </div>
        </div>

        <div class='col-md-6'>
          <div class='containerInside'>
            <img src='https://www.dl.dropboxusercontent.com/s/oiw6s2iumtdj25t/SD%20Top%20Spots%20copy.png?dl=0' height: '300px' width='300px'
              class='image'>
            <div class="overlay">
              <div class="text">
                <a href='https://ea-sandiegotopspots.herokuapp.com/'><strong>San Diego Top Spots</strong></a> 
                <br> Built in React, this app displays a list of fun things to do around San Diego with linked locations.</div>
            </div>
          </div>
        </div>

      </div>
      <br>

      <div class='row'>

        <div class='col-md-6'>
          <div class='containerInside'>
            <img src='https://www.dl.dropboxusercontent.com/s/luxz87ufcnfvxpw/VSTDA%20copy.png?dl=0' height: '300px' width='300px' class='image'>
            <div class="overlay">
              <div class="text">
                <a href='https://ea-vstda.herokuapp.com/'><strong>Very Simple Todo App</strong></a> 
                <br> Built in React, this is a todo app that lets you set list items by priority to help manage your errands.</div>
            </div>
          </div>
        </div>

        <div class='col-md-6'>
          <div class='containerInside'>
            <img src='https://www.dl.dropboxusercontent.com/s/rn0chu8j81njr7v/Hackathon2%20copy.png?dl=0' height: '300px' width='300px'
              class='image'>
            <div class="overlay">
              <div class="text">
                <a href='https://ea-hackathon.herokuapp.com/'><strong>Hackathon</strong></a> 
                <br> Built in React over 3 days, this app gives you the daily snow report for the Crans Montana Resort in the
                Swiss Alps.
              </div>
            </div>
          </div>
        </div>

      </div>
      <br>

    </div>

  </section>

  <div class='bg5' id='contact'>
    <div class='ptext'>
      <span class='border'>Contact</span>
    </div>
  </div>

  <section class='info5'>
    <p>Stay in touch</p>
    <br>
    <div class='container2'>
      <form action="/thanks" method="post">

        <label for="Name">Name</label>
        <br>
        <input type="text" id="Name" name="Name" placeholder="Name">
        <br>

        <label for="Email">E-mail</label>
        <br>
        <input type="text" id="email" name="Email" placeholder="E-mail Address">
        <br>


        <label for="Company">Company</label>
        <br>
        <input type="text" id="Company" name="Company" placeholder="Company">
        <br>

        <label for="Subject">Subject</label>
        <br>
        <textarea id="Subject" name="Subject" placeholder="...."></textarea>
        <br>

        <input type="submit" value="Submit">

      </form>
    </div>
    <br>

  </section>

  <section class="info6">

    <div class="links">
      <div class="copyrights">
        <p>@2018 Erik Allison</p>
      </div>

      <div class="github">
        <a href="https://github.com/erikallison23" target="_blank">
          <img src="https://image.flaticon.com/icons/png/512/25/25231.png" height="40px">
        </a>
      </div>

      <div class="linkedin">
        <a href="https://www.linkedin.com/in/erik-allison-237aa7143/" target="_blank">
          <img src="https://content.linkedin.com/content/dam/engineering/en-us/blog/migrated/linkedin.png" height="40px">
        </a>
      </div>

      <div class="email">
        <a href="mailto:erikallison23@gmail.com" target="_blank">
          <img src="http://cdn.mysitemyway.com/icons-watermarks/flat-circle-white-on-black/raphael/raphael_mail/raphael_mail_flat-circle-white-on-black_512x512.png"
            height="40px">
        </a>

      </div>
    </div>
  </section>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>
</body>

</html>