<html>

<head>
  <title>Thanks</title>
  <link rel="shortcut icon" type="image/x-icon" href="../assets/favicon.ico"/>
</head>

<style>

html { 
  background: url(../assets/mesnow.jpg) no-repeat center center fixed; 
  background-size: 100%;
}

body {
  color: white;
  align-content: center;
  height: 100%;
  margin: 0;
  font-size: 50px;
  font-family: "futura", sans-serif;
}


</style>

<body>
  <div>
    Thank you
    <%= userInfo.Name %> for reaching out! <br>
    I will be in contact with you soon.
  </div>
  <button>
  <a href='#about'>Home</a>
</button>
</body>

</html>