<html>

<head>
  <title>Erik Thanks You</title>
</head>

<style>

html { 
  background: url(https://www.dl.dropboxusercontent.com/s/pwzfwfspp0tvzku/michael-olsen-411871-unsplash%20copy.jpg?dl=0) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  color: white;
  align-content: center;
  height: 100%;
  margin: 0;
  font-size: 50px;
  font-family: "futura", sans-serif;
}




</style>

<body>
  <div>
    Thank you
    <%= userInfo.Name %> for your interest! <br>
    I will be in contact with you soon.
  </div>
</body>

</html>