/*css for mobile*/

 @media screen and (max-width: 767px) {
  .name {
    font-size: 27px !important;
  }

  body,
  html {
    margin: 0 auto !important;
  }
  .info6 {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
  .container2 {
    width: 100% !important;
    padding: 11px !important;
  }
  #navbar a {
    padding: 10px !important;
  }
  .mypic {
    clear: left !important;
    margin: 0 auto !important;
    margin-left: 0px !important;
    text-align: center !important;
    width: 100% !important;
    height: auto !important;
    align-self: auto;
    transform: rotate(0deg);
    padding-top: 1px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    -webkit-transform: skew(0deg, 4deg) translateZ(0) !important;
    transform: skew(0deg, 0deg) translateZ(0) !important;
  }
  #bio {
    height: 100% !important;
    margin: 0 !important;
    font-size: 16px !important;
    font-family: "futura", sans-serif !important;
    padding-top: 300px;
    padding-bottom: 850px;
  }
  .info2 {
    padding-top: 1px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .info3 {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  .skills2 {
    margin-right: 5px !important;
    margin-left: 5px !important;
  }
  .skillsList {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
} 

/* css for web*/

html {
  background: #fff;
 /*cream  background: #fffceb; */
}

body,
html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Avenir", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: white;
}

.row {
  margin-top: 50px;
  margin-bottom: 50px;
 
}

.col-md-8, .col-md-4 {
  justify-content: center;
  align-items: center;
}

.bg1 {
  background-image: url('./assets/Photos/lajollapier.jpeg');
  min-height: 40%;
  position: relative;
  background-position: center;
}

.nameTitle {
  height: 10em;
  position: relative; 
  color:white;
}

.nameTitleInside{
  font-size: 120px;
  font-family: 'pacifico';
  opacity: .3;
}

.nameTitle .nameTitleInside{
  margin: 0;
  position: absolute;
  top: 100%;
  bottom: 100%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.info1 {
  background: #fff;
  color: lightblue;
}

.info2 {
  padding-top: 15px;
  padding-bottom: 30px;
  padding-left: 95px;
  padding-right: 95px;
  background: #fff;
  color: lightblue;
  font-size: 19px;
  font-family: "Avenir", sans-serif;
  letter-spacing: 0.08em;
  line-height: 1.6;
}

.bio {
  margin-top: 50px;
  color: rgb(48, 48, 48);
  font-size: 18px;
  min-width: 300px;
  max-width: 800px;
}

#bio {
  padding-bottom: 20px;
}

.mypic {
  transform: rotate(-4deg);
  padding: 20px;
  float: left;
  border-radius: 60px;
}

.epicShot {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 3s ease;
  background: url(../assets/me.jpg);
  border-radius: 60px;
}
.mypic:hover .epicShot {
  opacity: 1;
  transform: rotate(4deg);
}

.name {
  font-family: 'Alba Super';
  color:white;
  position: absolute;
  top: 60%;
  width: 100%;
  padding: 35px;
  text-align: center;
  font-size: 27px;
  letter-spacing: 8px;
  border-style: solid;
  border-color: white;
  background: #283f66;
  opacity: 0.7;
}

.nameFont {
  font-size: 75px;
  margin-bottom: 60px;
  margin-top: 20px;
}

.nameFont2 {
  font-size: 35px;
  margin-bottom: 20px; 
  font-family: 'pacifico';
}

.nameFont3 {
  font-size: 40px;
  padding-top: 20px;
}


.ptext {
  position: absolute;
  top: 70%;
  width: 100%;
  text-align: center;
  color: rgb(48, 48, 48);
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
  font-family: "Avenir", sans-serif;
}

.ptext .border {
  font-size: 40px;
  font-weight: bold;
  color: white;
  padding-left: 10px;
  padding-right: 1px;
  opacity: .9;
  border-radius: 15px;
}

/* Style the navbar */
#navbar {
  overflow: hidden;
  background: rgb(48, 48, 48);
  background-size: 100%;
  z-index: 10;
  font-family: "Avenir", sans-serif;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-family: "Avenir", sans-serif;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky+.content {
  padding-top: 60px;
}

.info3 {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 60px;
  padding-right: 60px;
}

.skills2 {
  display: inline-block;
  overflow: auto;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 20px;
  background: white;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 15px;
  box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
}

.skillsList {
  text-align: center;
  padding-left: 70px;
  padding-right: 70px;
  background: rgb(48, 48, 48);
  padding-top: 25px;
  padding-bottom: 25px;
}

h2 {
  text-align: center;
}

hr {
  border: 0;
  height: 3px;
  background-image: linear-gradient(to right, white, rgb(48, 48, 48), white);
}

/* projects*/
.projects {
  text-align: center;
  display: inline-block;
  width: 100%;
  font-family: "Avenir", sans-serif;
  font-size: 25px;
  color: rgb(48, 48, 48);
  padding-bottom: 20px;
}

.containerInside {
  position: relative;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
  border-radius: 25px;
  margin-top: 35px;
}

.ficusImage {
  display: block;
  width: 100%;
  height: auto;
  box-shadow: 5px 5px 7px rgba(33, 33, 33, .7); 
  border-radius: 25px;
  margin-top: 35px;
}

.ficus {
  display: fixed;
  width: auto;
  height: 300px;
  justify-content: center;
  align-content: center;
  margin-bottom: 35px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgb(48, 48, 48);
  border-radius: 25px;
}

.containerInside:hover .overlay {
  opacity: .4;
}

.text {
  color: #444;
  font-size: 15px;
  position: absolute;
  margin-top: 80px;
  text-align: center;
  width: 300px;
}

.container-fluid {
  background: #F3F3F3;
}

.info6 {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background: rgb(48, 48, 48);
  background-size: 100%;
  color: white;
  font-size: 10px;
  letter-spacing: 0.09em;
  text-align: left;
  width: 100%;
}

.copyrights {
  font-size: 18px;
  color: white;
  float: left;
  padding-top: 10px;
}

.links {
  margin: auto;
  overflow: hidden;
}

.email {
  opacity: 0.5;
  filter: alpha(opacity=30);
  float: right;
  margin-left: 20px;
  margin-top: 5px;
}

.email:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

.github {
  opacity: 0.5;
  filter: alpha(opacity=30);
  float: right;
  margin-left: 20px;
  margin-top: 5px;
}

.github:hover {
  opacity: 2;
  filter: alpha(opacity=100);
}

.linkedin {
  opacity: 0.5;
  filter: alpha(opacity=30);
  float: right;
  margin-left: 20px;
  margin-top: 5px;
}

.container2 {
  border-radius: 5px;
  background: url(../assets/bluebackground.jpg);
  background-size: 100%;
  padding-top: 100px;
  padding-bottom: 30px;
  width: 60%;
  margin: auto;
  color: #283f66;
}

.linkedin:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

input[type=text] {
  width: 100%;
}

textarea {
  width: 100%;
  height: 200px;
}